@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding-bottom: 120px;
  
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --black: #1f2638;
  --white: #32a4b8;
  --tw-color1: #393141;
  --tw-color1-hover: #0b2b5a;
}

body {
  background: var(--black);
  font-family: "Inter", monospace, Verdana, Geneva, Tahoma, sans-serif;
  color: var(--white);
  display: flex;
  margin: 1;
  text-align: center;
}

h2 {
  font-size: 2.2rem;
}